* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Norse;
  src:
    url(assets/fonts/Norse/Norse-Bold.woff2) format(woff2),
    url(assets/fonts/Norse/Norse-Bold.woff) format(woff);
  font-weight: 700;
}

body {
  /* border: 2px solid green; */
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

div.left {
  /* border: 1px solid #000; */
  height: 100%;
  background-image: url("./assets/images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

div.right {
  height: 100%;
  background-color: #eee;
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}

a.credit {
  padding: 0;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  font-size: 10px;
}

div.logo {
  position: relative;
  bottom: 60%;
  margin: 0;
  padding: 8px 0;
  font-family: Norse;
  background-color: #00000076;
  color: #ffffff;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 18%;
  margin: 0;
  padding: 0;
}

form {
  /* margin: 48px 0 18px 0; */
  padding: 0;
  background-color: #fff;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 32px;
}

fieldset {
  position: relative;
  /* border: 1px solid #000; */
  padding: 42px 48px 28px 36px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px 3rem;
}

legend {
  position: absolute;
  top: 18px;
  left: 36px;
  font-weight: 700;
}

label {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

input {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 2px 4px;
  margin: 0;
  display: block;
  width: 10rem;
}
p.top,
span.msg {
  font-family: serif, sytstem-ui;
  font-weight: 700;
}
p,
span.msg,
button {
  margin-left: 36px;
  margin-right: 200px;
  display: block;
}

span.msg {
  padding-bottom: 30px;
}

p.log-in a {
  text-decoration: none;
  color: #596d48;
}

p.log-in {
  font-size: 12px;
}

button {
  margin-top: -22px;
  padding: 8px 24px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #596d48;
  border: none;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

input {
  border-color: #e5e7eb;
}
input:invalid {
  border-color: #eaaf;
}
